﻿
@{
    ViewData["Title"] = "About";
}

<h1 id="aspnet-docker">aspnet-docker-CI/CD-eks-demo</h1>
<p>Simple demo of using GitLab pipeline to deploy a .net core 3 project on to AWS Kubernetes service(EKS). </p>
<h2 id="requirements">Requirements</h2>
<p>In order to run this example, you&#39;ll need to:</p>
<ul>
<li>Have an EKS cluster set up on AWS service. </li>
<li>fork this project or create anther project and pushed all the code from this project to your project.</li>
<li>Have a Gitlab runner set up for your project.</li>
</ul>
<h2 id="file-structure">File Structure</h2>
<pre><code>./aspnet-docker/
├── <span class="hljs-selector-class">.git</span>
├── <span class="hljs-selector-class">.gitignore</span>
├── <span class="hljs-selector-class">.gitlab-ci</span><span class="hljs-selector-class">.yml</span>
├── <span class="hljs-selector-class">.kubernetes</span>
├── <span class="hljs-selector-class">.vs</span>
├── LICENSE
├── Pro690P2APP<span class="hljs-selector-class">.sln</span>
├── Pro690P2App
├── README<span class="hljs-selector-class">.md</span>
└── XUnitTestProject1
</code></pre><h3 id="pro690p2app">Pro690P2App</h3>
<p>This is the demo application written in asp.net core 3. There is also a Docker file in the folder so you can use it to build am image out of the application.</p>
<h3 id="xunittestproject1">XUnitTestProject1</h3>
<p>This is the test project used to test the main application. You could run it by using the &quot;dotnet run test&quot; command after you download all the source code and cd into the XUnitTestProject1 folder.</p>
<h3 id="-kubernetes">.kubernetes</h3>
<p>This is the kubernetes folder. There are two files in it. The services.yaml is used to deploy the service on to the EKS. And deployment.yaml is used to deploy the image from the GitLab registry to EKS cluster.</p>
<h3 id="-gitlab-ci-yml">.gitlab-ci.yml</h3>
<p>The .gitlab-ci.yml file is a YAML file where you configure specific instructions for GitLab CI/CD. When you committed your changes, a pipeline started. In this project, there are 5 stages/jobs listed:</p>
<ul>
<li>run test</li>
<li>docker build</li>
<li>docker push</li>
<li>deploy services</li>
<li>deploy app
Each job will run after the previous one. And if any one fails, you will get a notice from GitLab.</li>
</ul>
<h2 id="variables-you-need-to-set-up">Variables you need to set up</h2>
<p>There are some environment variables you need to find before you use this pipeline. 
Go to <strong>Setting -&gt; CI/CD -&gt; Variables </strong>:</p>
<ul>
<li>AWS_ACCESS_KEY_ID : Your AWS access key id, you can get it from your aws service console</li>
<li>AWS_DEFAULT_REGION: Your AWS EKS cluster&#39;s region</li>
<li>AWS_SECRET_ACCESS_KEY: Your aws secrete access key, you can get it from your aws service console</li>
<li>KUBECONFIG: The config file you use to connect to your EKS cluster. You can get it using AWS CLI</li>
</ul>
<h2 id="running-the-project">Running the project</h2>
<p>The steps to run are:</p>
<ol>
<li>Fork the project</li>
<li>Set up the gitlab runner</li>
<li>Set up all the variables</li>
<li>Start your EKS cluster and set up enough nodes.</li>
<li>Make a change to the source code and commit.</li>
<li>You should be able to see the pipeline working and new version of application will deployed on your EKS cluster if all jobs succeed. </li>
</ol>
<h2 id="contact">Contact</h2>
<ul>
<li>jyu205@myseneca.ca</li>
<li>mokimoto@myseneca.ca</li>
<li>szeng9@myseneca.ca</li>
</ul>
<h2 id="thanks-">Thanks!</h2>


