﻿@using Pro690P2.Models
@model Pro690P2.Models.Response

@{
    ViewData["Title"] = "Home Page";
}
<h2 style="background-color:green">Location: @Model.location.name</h2>
<p style="line-height: 50%">Time: <span style="color: blue">@Model.location.localtime</span></p>
<p style="line-height: 50%">Temperature: <span style="color: blue">@Model.current.temp_c &#8451</span></p>
<p style="line-height: 50%">UV Index: <span style="color: blue">@Model.current.uv</span></p>
<p style="line-height: 50%">Wind: <span style="color: blue">@Model.current.wind_kph km/h</span></p>
<p style="line-height: 50%">Humi: <span style="color: blue">@Model.current.humidity</span> </p>

<div class="text-center">
    <table class="table" style="margin-left: auto; margin-right: auto; border-collapse: collapse">
        <thead class="thead-dark">
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Hight (&#8451)
                </th>
                <th>
                    Low (&#8451)
                </th>
                <th>
                    Wind (km/h)
                </th>
                <th>
                    UV Index
                </th>
                <th>
                    Chance of rain (%)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var b in @Model.forecast.forecastday)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => b.date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => b.day.maxtemp_c)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => b.day.mintemp_c)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => b.day.maxwind_kph)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => b.day.uv)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => b.day.daily_chance_of_rain)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

